*, html , body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: brown;
}

.table  {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    width: 500px;
    height: 500px;
    color: black;
}

.login {
    padding-top: 25px;
    background-color: red;
}


